<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="description" content=" " />
<meta name="keywords" content=" "/>
<meta name="author" content="krishadi flask dashboard"/>

<link rel="icon" href="{{ url_for('static', filename='picon.png') }}" type="image/png">


<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<!-- Title -->
{% if title %}
    <title>Pi-Dash - {{ title }}</title>
{% else %}
    <title>Pi-Dash</title>
{% endif %}
